/* Estilos gerais */

body{
    background-color: #f8f9fa;
    
}

.login-container {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.199);
    border: 1px solid #dee2e6;
    width: 100%;
    max-width: 500px;
    height: 500px; /* Altura fixa */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-vivo{
    margin-top: -40px;
    margin-bottom: 10px;
    width: 100px;
}

.icon-box { 
    background-color: #e0e0e0; /* Cor cinza */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Largura do bloco cinza */
    height: 100%; /* Altura igual à do input */
    border-radius: 4px 0 0 4px;
}

.input-group .form-control {
    border-radius: 0 4px 4px 0;
}

/*
.input-group .input-group-prepend {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
*/


.login-title {
    font-size: 1.8rem; /* Ajuste o tamanho do título */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.input-custom {
    width: 100%; /* Assegura que o input ocupe toda a largura disponível */
}


.btn-custom {
    width: 100%;
    max-width: 100px; /* Ajuste a largura do botão aqui */
    background-color: #670099; /* Cor roxa para o botão */
    border: none;
}


.btn-custom:hover {
    background-color: #8700ca; /* Cor roxa mais clara para o hover */
}

/* Estilo para o alerta */
.alert {
    position: fixed; /* Posição fixa */
    top: 20px; /* No topo da página */
    left: 50%; /* Centralizado horizontalmente */
    transform: translateX(-50%);
    z-index: 1000; /* Garante que o alerta esteja acima dos outros elementos */
    width: 500px; /* Ocupa toda a largura disponível */
}

.content-below-alert {
    padding-top: 0.5px; /* Ajuste conforme necessário para a altura do alerta */
}

