body{
    background-color: #e7e7e7;
    
}

.user_btn   {
    font-size: 20px;    
}

/* Estilo para o alerta */
.alerta {
    position: absolute;
    top: 50px; /* Ajuste conforme necessário */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Ajuste conforme necessário */
    z-index: 1000; /* Garanta que o alerta fique acima de outros elementos */
}

.container-fluid {
    position: relative;
}


