body{
    background-color: #e7e7e7;
    
}

.user_btn   {
    font-size: 20px;    
}

/* Estilo para o alerta */
.alert {
    position: fixed;
    z-index: 1010;
    width: 500px;
}

.alerta{
    margin-top: -20px;
}

